@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
body,
html {
  background-color: #ffffff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s; /* This is a hack to override the color */
  -webkit-text-fill-color: #a9b4c8 !important;
  border-bottom: 1px solid #a9b4c8 !important;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: [desired background color] !important;
  color: #ffffff !important;
}
